{% extends 'base.html' %}

{% block title %}
<title> RD - Add task </title>
{% endblock%}

{% block title %}
<form action="{% url 'add' %}" method="post">
    {% csrf_token %}
    <label for="title">Title</label>
    <br />
    <input type="text" name="title" id="title">
    <br />
    <label for="decription">Description</label>
    <br />
    <textarea name="description" id="description" > </textarea>
    <br />
    <input type="submit" value="submit">
</form>
<a href="/">Go back</a>
{% endblock%}