{% extends 'base.html' %}

{% block title %}
<title> RD - Task info </title>
{% endblock%}

{% block content %}
<h1>{{task.title}}</h1>
<form action="/todolist/complete/{{task.id}}/?next={{request_path}}" class="task_form">
    <input type="submit" class="btn btn-link" value="Complete" />
</form>
<form action="/todolist/edit/{{task.id}}" class="task_form">
    <input type="submit" class="btn btn-link" value="Edit" />
</form>
<form action="/todolist/trash/{{task.id}}" class="task_form">
    <input type="submit" class="btn btn-link" value="Trash" />
</form>
<p>Description : {{task.description}} </p>
<p>Created: {{task.created}} </p>
<p>Deadline: {{task.deadline}} </p>
<p>Created user: {{task.created_user}} </p>
{% if completed %}
<p>Completed user: {{task.completed_user}} </p>
{% endif %}
<p>Task list: {{task.task_list}} </p>
<p>Status: {{task.get_status_display}} </p>
<p>Priority: {{task.get_priority_display}} </p>
<h5>Tags:</h5>
<ul>
    {% for tag in task.tags.all %}
    <li>
        {{tag}}
    </li>
    {% endfor %}
</ul>
{% endblock %}
