{% extends 'base.html' %}

{% block title %}
<title> RD - Tasks </title>
{% endblock%}

{% block content %}
<form action="/todolist/add">
    <input type="submit" class="btn btn-link" value="Add task">
</form>
<ul class="list-group">
    {% for task in tasks %}
    <li class="list-group-item">
        <a href="/todolist/details/{{task.id}}">{{task.title}}</a> {% if task.deadline %} - {{task.deadline}} {% endif %}
        <form action="/todolist/complete/{{task.id}}/?next={{request_path}}" class="task_form">
            <input type="submit" class="btn btn-link" value="Complete" />
        </form>
        <form action="/todolist/edit/{{task.id}}" class="task_form">
            <input type="submit" class="btn btn-link" value="Edit" />
        </form>
        <form action="/todolist/trash/{{task.id}}" class="task_form">
            <input type="submit" class="btn btn-link" value="Trash" />
        </form>
    </li>
    {% endfor %}
</ul>
{% endblock %}