{% extends 'base.html' %}

{% block title %}
<title> RD - Tasks </title>
{% endblock%}

{% block content %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
<h2>{{list.name}}</h2>
<form>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% if not list.is_private %}
        <a href="{% url 'invite' list_id=list.id %}" class="btn btn-link">Invite</a>
        {% endif %}
        {% if superuser %}
        <a href="{% url 'edit_list' list_id=list.id  %}" class="btn btn-link">Edit</a>
        <a href="{% url 'delete_list' list_id=list.id  %}" class="btn btn-link">Delete</a>
        {% endif %}
    </div>
</form>
<h5>Users:</h5>
<ul>
    {% for user in users %}
    <li>
        {{ user }}
        {% if superuser and user != request.user %}
        <form action="{% url 'kick_user' list_id=list.id  user_id=user.id %}" class="task_form">
            <input type="submit" class="btn btn-link" value="Kick" />
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h5>Tasks:</h5>
<form action="{% url 'add' %}">
    <input type="submit" class="btn btn-link" value="Add task">
</form>
{% include 'task_list.html' %}
{% endblock %}