{% extends 'base.html' %}

{% block title %}
<title> RD - Tasks </title>
{% endblock%}

{% block content %}
{% for message in messages %}
<p>{{message}}</p>
{% endfor %}
<h2>{{list.name}}</h2>
<form>
    <div class="btn-group" role="group" aria-label="Basic example">
        {% if not list.is_private %}
        <input type="button" class="btn btn-secondary" value="Invite" onclick="window.location.href='invite/'"/>
        {% endif %}
        <input type="button" class="btn btn-secondary" value="Edit" onclick="window.location.href='edit/'"/>
        <input type="button" class="btn btn-secondary" value="Delete" onclick="window.location.href='delete/'"/>
    </div>
</form>
<h5>Users:</h5>
<ul>
    {% for user in users %}
    <li>
        {{ user }}
        {% if superuser and user != request.user %}
        <form action="kick/{{user.id}}" class="task_form">
            <input type="submit" class="btn btn-link" value="Kick" />
        </form>
        {% endif %}
    </li>
    {% endfor %}
</ul>
<h5>Tasks:</h5>
<form action="/todolist/add/">
    <input type="submit" class="btn btn-link" value="Add task">
</form>
{% include 'task_list.html' %}
{% endblock %}