<ul class="list-group">
    <form method="post" class="form-group">
    {% csrf_token %}
        <label for="sort_type">Sort by</label>
        <select class="form-control" name="sort_type" id="sort_type">
            <option value="deadline">Deadline</option>
            <option value="priority">Priority</option>
        </select>
        <input type="submit" class="btn btn-success">
    </form>
    {% for task in tasks %}
    <li class="list-group-item">
        {% if task.period_val != 'N' %}
        <span class="glyphicon glyphicon-repeat" ></span>
        {% endif %}
        <a href="/todolist/details/{{task.id}}" {% if task.status == 'O' %} style="color: red" {% endif %}>
            {{task.title}}
        </a>
        {% if task.deadline %} - {{task.deadline}} {% endif %}
        <div class="btn-group" role="group" aria-label="Basic example">
            <input type="button" class="btn btn-link" value="Complete" onclick="window.location.href='/todolist/complete/{{task.id}}/?next={{request_path}}'"/>
            <input type="button" class="btn btn-link" value="Edit" onclick="window.location.href='/todolist/edit/{{task.id}}'"/>
            <input type="button" class="btn btn-link" value="To trash" onclick="window.location.href='/todolist/trash/{{task.id}}'"/>
        </div>
    </li>
    {% endfor %}
</ul>